<?xml version="1.0"?>
<!--
/**
* Blockonomics admin configuration
*
* @category    Blockonomics
* @package     Blockonomics_Merchant
* @author      Blockonomics
* @copyright   Blockonomics (https://blockonomics.com)
* @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
           <group id="blockonomics_merchant" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Bitcoin - Blockonomics</label>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="2" translate="label" type="text">
					<label>Title</label>
				</field>
                <field id="app_key" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label><![CDATA[BLOCKONOMICS API KEY <br /> (Generate from <a href="https://www.blockonomics.co/blockonomics#/settings" target="_blank">Wallet Watcher</a> > Settings)]]></label>
                </field>
                <field id="callback_url" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label><![CDATA[CALLBACK URL <br /> (Copy this url and set in <a href="https://www.blockonomics.co/merchants#/page6" target="_blank">Merchants</a>)]]></label>
                    <frontend_model>Blockonomics\Merchant\Block\System\Config\Form\Field\Disable</frontend_model>
                </field>
                <field id="altcoins" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5" translate="label" type="select">
                    <label>Altcoins enabled via Shapeshift</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
			</group> 
        </section>
    </system>
</config>
